doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://highlightjs.org/static/demo/styles/solarized-light.css")
    
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js")
  body
    block content
